@font-face {
    font-family: Molot;
    src: url("./fonts/standart.ttf");
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: Molot, sans-serif;
    margin: 0;
    user-select: none;
    color: rgb(31 34 41);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col#auth-right {
    width: 30%;
}

.col#auth-left {
    width: 70%;
    align-items: flex-start;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row#screen-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.screen-row#auth {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-image: url("/static/pictures/background.png");
}

input {
    vertical-align: middle;
    outline: none;
    width: 300px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.auth-input-form {
    display: flex;
    flex-direction: column;
}

span.error-text {
    visibility: hidden;
    color: red;
}

label {
    font-weight: 700;
}

.absolute-img {
    position: fixed;
    z-index: 2;
    bottom: 0px;
    right: 40%;
    display: block;
    pointer-events: none;
    height: 700px;
}

.logo-teleclass {
    width: calc(50%/4 * 8);
    pointer-events: none;
    margin-left: 30px;
}

.logo-description {
    width: 330px;
    margin-left: 50px;
    font-size: 32px;
    margin-top: 50px;
}

button {
    width: 306px;
    height: 50px;
    font-family: Molot;
    font-weight: 700;
    border-radius: 30px;
    border: 2px solid;
    border-color: white;
    background-color: rgb(31 34 41);
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 700;

}

button:hover {
    opacity: .7;
}

button.small{
    width: 95px;
    margin-bottom: 0;
    margin-right: 5px;
}