/* FONTS */

@font-face {
    font-family: "serif-bold";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/tele2_displayserif-bold.woff");
}
@font-face {
    font-family: "serif-regular";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/tele2_displayserif-regular.woff");
}
@font-face {
    font-family: "sans-bold";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/tele2_textsans-bold.woff");
}
@font-face {
    font-family: "sans-regular";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/tele2_textsans-regular.woff");
}
@font-face {
    font-family: "icons";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/icons.woff");
}

/* NEDOBOOTSTRAP */

/* body */
body {
    width: 99,5vw;
    height: 100vh;
    font-family: serif-regular;
    margin: 0;
    user-select: none;
    color: rgb(31 34 41);
    padding-top: 45px;
}

/* footer */
footer{
    background-color: rgb(31 34 41);
    color: white;
    font-size: large;
    text-align: center;
}

/* cols */
.col{
    display: flex;
    flex-flow: column nowrap;
}

/* rows */
.row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* links */
a{
    color: white;
    text-decoration: none;
}

/* inputs */
input{
    vertical-align: middle;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
}

/* buttons */
button{
    color: white;
    font-family: serif-bold;
}

button:hover{
    cursor: pointer;
}

/* ELEMENTS */

/* Main-window */
.main-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000000;
}

/* Background */
.background{
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

img.background{
    width: 100vw;
}

/* Nav-menu */
header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    background-color: rgb(31 34 41);
    justify-content: center;
    align-items: center;
    font-family: sans-regular;
    z-index: 1000;
}

.row#nav-menu{
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(31 34 41);
    flex: 0 1 1100px;
    padding: 0 30px;
}

img#nav-menu-white{
    height: 29px;
    margin: 2px 0;   
    pointer-events: none;
}

a.nav-menu{
    font-size: 12px;
}

/* Search */
.search{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-row{
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(214 214 214);
    flex: 0 1 1100px;
    padding: 0 10px;
    align-items: center;
    height: 45px;
    border-radius: 5px;
}

.search-icon{
    position: absolute;
    padding-left: 5px;
    color: black;
    font-size: 20px;
    font-family: icons;
}

input.search-input{
    flex: 1 1 300px;
    margin-right: 10px;
    height: 25px;
    padding-left: 30px;
}

button.search-button{
    height: 30px;
    width: 100px;
    background-color: rgba(65 166 116);
    border: 0;
    border-radius: 5px;
    font-size: 12px;
}

/* Catalog */
.catalog{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.catalog-row{
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    flex: 0 1 1100px;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px; 
}

.add-courses-row{
    text-align: center;
    width: 100%;
}

button.add-courses{
    background-color: rgba(65 166 116);
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 15px;
}

.course{
    flex: 0 1 350px;
    background: white;
    border: 1px solid rgb(214 214 214);
    border-radius: 15px;
    height: 225px;
    flex-wrap: wrap;
    margin: 15px 0;
}

.course-row-top{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    height: 150px;
}

.course-row-bot{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.course-col{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 10px 0;
}

.course-title{
    font-size: 26px;
    font-family: serif-bold;
    margin-bottom: 15px;
}

.course-description{
    font-family: sans-bold;
    color: rgba(87 87 87);  
    font-size: 16px;
}

.course-icon{
    max-width: 70px;
    max-height: 70px;
    margin: 10px;
    border: 1px solid black;
}

.course-icon-img{
    max-width: 70px;
    max-height: 70px;
}

.course-max-point{
    font-family: sans-bold;
    color: rgba(87 87 87);
    font-size: 16px;
}

button.course-open{
    background-color: rgba(65 166 116);
    width: 115px;
    height: 35px;
    border-radius: 5px;
    border: 0;
}

/* Theory */
.theory{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.theory-row{
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    flex: 0 1 1100px;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    background-color: rgb(240 241 242);
    border-radius: 25px;
}

.theory-title-row{
    display: flex;
    flex-flow: row ;
    height: 115px;
    flex: 0, 1, 1100px;
}

button.back-to-catalog{

}
