{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title}}</title>
</head>
<body id="auth">
    <div class="background">
        <img class="background" src="{% static 'pictures/background.png' %}"></img>
    </div>
    <div class="main-window">
        <div class="logo-row">
            <img src="{% static 'pictures/teleclass.png' %}" class="auth-logo">
        </div>
        <div class="auth-row">
            <div class="auth-col">
                <img src="{% static 'pictures/child.png' %}" id="child">
            </div>
            <div class="auth-col" id="reg">
                <div class="auth-inputs-row">
                    <label for="name" class="auth">Имя</label>
                    <input type="text" class="auth" id="name">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <div class="auth-inputs-row">
                    <label for="surname" class="auth">Фамилия</label>
                    <input type="text" class="auth" id="surname">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <div class="auth-inputs-row">
                    <label for="patronymic" class="auth">Отчество</label>
                    <input type="text" class="auth" id="patronymic">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <div class="auth-inputs-row">
                    <label for="phone" class="auth">Номер телефона</label>
                    <input type="text" class="auth" id="reg-phone">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <div class="auth-inputs-row">
                    <label for="password" class="auth">Пароль</label>
                    <input type="password" class="auth" id="reg-password">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <div class="auth-inputs-row">
                    <label for="password-repeat" class="auth">Повтор пароля</label>
                    <input type="password" class="auth" id="password-repeat">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <label for="auth-buttons-row" class="auth-buttons">Кто вы?</label>
                <div class="auth-buttons-row">
                    <button class="auth-user-type" id="child">Ученик</button>
                    <button class="auth-user-type" id="parent">Родитель</button>
                    <button class="auth-user-type" id="teacher">Учитель</button>
                </div>
                <button class="auth-big" id="create-acc">Создать аккаунт</button>
                <button class="auth-big" id="have-acc">У меня уже аккаунт</button>
            </div>
            <div class="auth-col"id="auth">
                <div class="auth-inputs-row">
                    <label for="phone" class="auth">Номер телефона</label>
                    <input type="text" class="auth" id="auth-phone">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <div class="auth-inputs-row">
                    <label for="password" class="auth">Пароль</label>
                    <input type="password" class="auth" id="auth-password">
                    <div class="auth-input-icon">
                        
                    </div>
                </div>
                <button class="auth-big" id="auth">Войти</button>
                <button class="auth-big" id="have-not-acc">У меня еще нет аккаунта</button>
            </div>
        </div>
    </div>
</body>
<footer>
    ТУТ МОГЛА БЫТЬ ВАША РЕКЛАМА
</footer>
<script charset="UTF-8" src="{% static 'js/auth.js' %}"></script>