{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<header>
    <div class="row" id="nav-menu">
        <img src="{% static 'pictures/teleclass-white.png' %}" id="nav-menu-white">
        <a href="" class="nav-menu">Личный кабинет</a>
    </div>
</header>
<body>
    <div class="main-window">
        {% block background-image %}
        {% endblock background-image %}

        {% block main-window %}
        {% endblock main-window %}
    </div>
</body>
<footer>
    ТУТ МОГЛА БЫТЬ ВАША РЕКЛАМА
</footer>

{% block scripts %}
{% endblock scripts %}