{% extends 'base.html' %}
{% load static %}

{% block background-image %}
<div class="background">
    <img class="background" src="{% static 'pictures/background-catalog.png' %}"></img>
</div>
{% endblock background-image %}

{% block main-window %}

<script charset="UTF-8" src="{% static 'js/catalog.js' %}"></script>

<div class="search">
    <div class="search-row">
        <div class="search-icon"></div>
        <input type="text" class="search-input">
        <button class="search-button">Искать</button> 
    </div>
</div>

<div class="catalog" onload="getCourse()">
    <div class="catalog-row">
        {% for course in catalog %}
            <div class="course">
                <div class="course-row-top">
                    <div class="course-col">
                        <div class="course-title">
                            {{ course.title }}
                        </div>
                        <div class="course-description">
                            {{ course.description }}
                        </div>
                    </div>
                    <div class="course-icon">
                        <img src="{% static 'pictures/default-course-icon.png' %}" class="course-icon-img">
                    </div>
                </div>
                <div class="course-row-bot">
                    <div class="course-max-point">
                        {{ course.max_point }}
                    </div>
                    <button class="course-open" id = {{ course.id }}>
                        Открыть курс
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="add-courses-row">
    <button class="add-courses">
        Больше курсов
    </button>
</div>
{% endblock main-window %}

{% block scripts %}
<script charset="UTF-8" src="{% static 'js/catalog.js' %}"></script>
{% endblock scripts %}

