{% extends 'base.html' %}
{% load static %}

{% block background-image %}
<div class="background">
    <img class="background" src="{% static 'pictures/background-catalog.png' %}"></img>
</div>
{% endblock background-image %}

{% block nav-panel-buttons %}
<a class="nav-menu">Личный кабинет</a>
{% endblock nav-panel-buttons %}

{% block main-window %}
<div class="theory">
    <div class="theory-row">
        <div class="theory-col">
            <div class="theory-title-row">
                <div class="course-title">
                    {{course.title}}
                </div>
                <button class="back-to-catalog">Назад к курсам</button>
            </div>
            <div class="theory-title-row">
                <div class="theory-title">
                    Теория
                </div>
            </div>
            <div class="border-gray"></div>
            <div class="theory-content-row">
                <p>{{course.theory}}</p>
            </div>
        </div>
    </div>
</div>
{% for task in tasks %}
<div class="practice">
    <div class="practice-row">
        <div class="practice-col">
            <div class="practice-title-row">
                <div class="practice-title">
                    Задание
                </div>
                <div class="practice-number">{{task.number}}</div>
            </div>
            <div class="border-gray">
            </div>
            <div class="practice-content-row">
                <p>{{task.text}}</p>
            </div>
            <div class="border-gray"></div>
            <div class="practice-response-options-row">
                {% for answer_option in answer_options %}
                {% if answer_option.task == task %}
                <div class="answer-option-row">
                    <input type="checkbox" class="answer-option" id={{answer_option.id}}>
                    <div class="answer-option-text">
                        {{answer_option.text}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<button class="end-course">
    Сохранить прогресс
</button>
{% endblock main-window %}

{% block scripts %}
<script charset="UTF-8" src="{% static 'js/course.js' %}"></script>
<script charset="UTF-8" src="{% static 'js/cookie.js' %}"></script>
<script charset="UTF-8" src="{% static 'js/go-to-personal-office.js' %}"></script>
<script charset="UTF-8" src="{% static 'js/end-cource.js' %}"></script>
{% endblock scripts %}